<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Engine</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    Hello World from EJS
    <div>
        <img class="images-main" src="/images/sampleimage.png">
    </div>
</body>

</html>